.layout {
  .logo {
    float: left;
    width: 170px;
    height: 64px;
    background: rgba(255, 255, 255, 0.466);
  }

  .content {
    margin-top: 24px;
    margin-bottom: 650px;
    margin-left: 50px;
    margin-right: 50px;
    padding: 50px;
    background: #fff;
  }

  .attori {
    margin-top: 20px;
  }

  .div {
    text-align: left;
    padding: 5px;
  }

  .table {
    text-align: center;
  }

  .step {
    display: flex;
    flex-direction: row;
    float: right
  }

  .stepscontent {
    min-height: 200px;
    margin: 16px;
    padding-top: 20px;
    text-align: center;
  }
  
  .stepsaction {
    margin-top: 24px;
  }
}
