.layout{

.logo {
  float: left;
  width: 170px;
  height: 64px;
  background: rgba(255, 255, 255, 0.466);
}


 .content {
    min-height: 280px;
    padding: 24px;
    background: #fff;
  }
  
 /* .Accedi{
      text-align: center;
  }*/
}