.layout{

    .logo {
      float: left;
      width: 170px;
      height: 64px;
      background: rgba(255, 255, 255, 0.466);
    }
    
    
     .content {
        margin-top: 24px;
        margin-bottom: 650px;
        margin-left:200px;
        margin-right: 200px;
        padding: 50px;
        background: #fff;

      }
      
      .Accedi{
          text-align: center;
      }
    }